.tableHeader{
    padding: 0 10px;
    text-align: left;
    margin: 5px;
    background: #b9a1ae;
    color: black;
    border: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    font-size: 11pt;
    border-radius: 3px;
    display: block;
    table-layout: fixed;
}
.tableHeader > i {
    float: right;
    line-height: 35px;
}